<h1>Edit A Park</h1>
<%= form_for @park do |f| %>
	<p><%= f.text_field :name, :placeholder => "Name" %></p>
	<p><%= f.text_field :address, :placeholder => "Address" %></p>
	<p><%= f.submit "Edit Park", :class => 'button' %></p>
<% end %>