<div class="title"><h1>Nebraska's State Parks and SRAs</div>
   
<div class="park">
  <% @parks.each do |p| %>
    <h2><%= p.name %></h2>
    <p><%= p.address %></p>
    <%= link_to "visit", park_path(p.id) %>
  <% end %>
</div>
