<h1>Nebraska's State Parks and State Recreation Areas in Which You May Pitch</h2>
<h1> ...your tent, that is!</h1>
<%@parks.each do |p|  %>
<a href="/park/<%= p.id %>"><%= p.name %></a>
<p><%= p.address %></p>
<%end%>