html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$funfont: 'Cedarville Cursive', cursive;
$unfunfont: 'Pompiere', cursive;

header {
 #logo {
	padding-left: 40px;
	padding-top: 100px;
	float: left;
  }

 #bar {
	width: 20%;
	float: right;
	margin-right: -150px;
  }

 #bar li {
	text-transform: uppercase;
	padding: 20px;
	display: inline-block;
	font-family: $unfunfont;
	font-size: large;
	color: #FFF;
  }

  #clearfix {
	clear: both;
  }
}

body {
	text-align: center;
	font-family: $unfunfont;
	font-size: x-large;
	color: #35200A;
	width: 900px;
	margin: 0 auto;
	background-image:url('http://brochier.it/images/fabrics/j2594-005-z.jpg');

  h1 {
	font-family: $funfont;
  }

  p {
	font-family: $unfunfont;
  }

  #tabbed_interface ul{
  margin: 0;
  padding: 0;
  }
  #tabbed_interface li{
  display: inline-block;
  padding: 30px;
  font-size: xx-large;
  background-color: #D64A00;
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;  
  }
  #tabbed_interface li.active{
  color: #FAD1B8;
  }
  #tab_content{
  border: 5px solid #D64A00;
  padding: 10px;
  }
}
